.header-container {
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 0 30px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: orange;
  font-weight: 700;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}